.tile {
  width: var(--tile-size);
  height: var(--tile-size);

  background-color: var(--tile-color);
  background-image: var(--background-image);
  background-size: 40px;

  border: 1px solid red;
}
