.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  height: 0;
}
