.player {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  align-self: start;
  justify-self: start;

  width: fit-content;
  height: fit-content;

  position: relative;
  bottom: var(--obj-tile-bottom-offset);

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(
    calc(var(--player-x) * var(--tile-size)),
    calc(var(--player-y) * var(--tile-size))
  );
}
