.player {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  align-self: start;
  justify-self: start;

  width: var(--tile-size);
  height: var(--tile-size);

  position: relative;
  top: -14px;

  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(
    calc(var(--player-x) * var(--tile-size)),
    calc(var(--player-y) * var(--tile-size))
  );
}
