.game {
  display: grid;

  grid-template-columns: repeat(var(--columns), var(--tile-size));
  grid-template-rows: repeat(var(--rows), var(--tile-size));

  width: fit-content;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);

  background-color: var(--tile-color);
  background-image: var(--background-image);
  background-size: 40px;
}
